.vscode
/_disabled_temp
/_test
/config/blockswap/known_states/
/crash-reports
/data
/downloads
/fancymenu_data
/fancymenu_setups
/local
/logs
/modernfix
/mods
/not-enough-crashes

/pack_icon/frames
/pack_icon/frames_quarter

/profileImage
/resourcepacks
/resources
/saves
/schematics
/screenshots
/shaderpacks
/.curseclient
/ds_private_storage.json
/fabricloader.log
/glfw.dll
/imm_ptl_state.json
/jemalloc.dll
/jna*.dll
/jna*.dll.x
/lwjgl.dll
/lwjgl_opengl.dll
/lwjgl_stb.dll
/observable_announce
/OpenAL.dll
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json